<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinos</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../components/css/body.css">

    <!-- Custom styles for this template -->
    <link href="../css/carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/destinos.css">

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="inicio.html">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="inicio.html">Inicio</a>
                </li><li class="nav-item">
                    <a class="nav-link" href="destinos.html">Destinos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="paquetes.html">Paquetes</a>
                  </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown link
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="sucursales.html">Sucursales</a></li>
                    <li><a class="dropdown-item" href="#">Convenios</a></li>
                    <li><a class="dropdown-item" href="contactenos.html">Contactenos</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex">
                <div class="text-light" id="usuario"></div>
              </form>
            </div>
          </div>
        </nav>
      </header>


      <main>

        <div class="container marketing">
    
      
            <div>
                <h1>Destinos disponibles</h1>
                <br>
                <p class="parrafo">La agencia tiene distintos destinos muy apetecibles para nuestros clientes.
                    contamos desde viajes nacionales hasta en el exterior, de tal manera de que pueda vivir
                    una experiencia completa</p>
                
                <p class="parrafo">Nos enfocamos especialmente en dar calidad con las alianzas hoteleras que poseemos. Nuestros destinos principales son los siguientes:</p>
                <br>

                <ol>
                    <li>Venecia</li>
                    <li>Miami</li>
                    <li>Cartagena</li>
                    <li>Eje Cafetero</li>
                    <li>New York</li>
                    <li>Curaçao</li>
                </ol>

                <p class="parrafo">Los distintos precios de los hospedajes en los destinos son los siguientes:</p>


            </div>

            
            <div>
                <div class="table-responsive">
                  <table class="table table-primary" id="destinos">
                    <thead class="table-dark">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Destino</th>
                          <th scope="col">Precio</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Venecia</td>
                          <td>450$ la noche.</td>
                          
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Miami</td>
                          <td>250$ la noche.</td>
                          
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Cartagena</td>
                          <td>100$ la noche</td>
                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td>Eje cafetero</td>
                          <td>150$ la noche</td>
                        </tr>
                        <tr>
                          <th scope="row">5</th>
                          <td>New York</td>
                          <td>350$ la noche</td>
                        </tr>
                        <tr>
                          <th scope="row">6</th>
                          <td>Curaçao</td>
                          <td>300$ la noche</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                
                  <br>
                  <div class="text-center">
                    <img src="../Img/unnamed (1).jpg" alt="" srcset=""class="img-responsive" style="max-width: 100%;">
                    <label for=""></label>
                    <img src="../Img/unnamed.jpg" alt="" srcset=""class="img-responsive" style="max-width: 100%;">
                </div>
                  <br>

            </div>
            <br>
            <div class="mapa">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1958.3431766426916!2d-74.78853302411567!3d10.987029998035094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTDCsDU5JzEzLjMiTiA3NMKwNDcnMTQuOCJX!5e0!3m2!1ses-419!2sco!4v1619738586776!5m2!1ses-419!2sco" width="600" height="450" style="border:0;  max-width: 100%;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <br>
          </div><!-- /.container -->


      </main>

      <!-- Footer -->
<footer class="bg-dark text-center text-lg-start" style="margin-bottom: -50px; margin-top: -0px;">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase text-light">Mas informacion de la agencia</h5>
  
          <p class="text-light" style="text-align: justify; font-size: 20px">
            Esta agencia se dedica a la promocion 
            y venta de paquetes de sitios turisticos a diferentes destinos ubicados en colombia 
            y en el mundo, tenemos convenios con diferentes hoteles en los destinos que ofrecemos.
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light">Redes Sociales</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://www.facebook.com/" class="alink text-light"><i class='bx bxl-facebook' style='color:#ffffff'></i>  Facebook</a>
          </li>
          <li>
            <a href="https://twitter.com/?lang=es" class="alink text-light"><i class='bx bxl-twitter' style='color:#ffffff' ></i>  Twitter</a>
          </li>
          <li>
            <a href="https://www.instagram.com/" class="alink text-light"><i class='bx bxl-instagram' style='color:#ffffff' ></i>  Instagram</a>
          </li>
          <li>
            <a href="https://co.pinterest.com/" class="alink text-light"><i class='bx bxl-pinterest' style='color:#ffffff' ></i>  Pinterest</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light mb-0">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="alink text-light">Link 1</a>
          </li>
          <li>
            <a href="#!" class="alink text-light">Link 2</a>
          </li>
          <li>
            <a href="#!" class="alink text-light">Link 3</a>
          </li>
          <li>
            <a href="#!" class="alink text-light">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
  <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright: Todos los derecho reservados
    
  </div>
  <!-- Copyright -->
  </footer>
  <!-- Footer -->
  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../js/destinos.js"></script>
  <script src="../js/main.js"></script>
</body>
</html>