<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <img src="" id="imagen" alt="">

    <script>
        cargarRest()
        function cargarRest(){

            let imagen = document.getElementById('imagen')
            

            fetch('https://pokeapi.co/api/v2/pokemon/ditto')
            .then(function(res){
                return res.json()
            })
            .then(function(imagenes){
                console.log(imagenes.sprites.back_default)
                imagen.src = imagenes.sprites.back_default
                imagen.innerHTML
            })
        }

    </script>
</body>

</html>