<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinos</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../components/css/body.css">

    <!-- Custom styles for this template -->
    <link href="../css/carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/destinos.css">

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="inicio.html">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="inicio.html">Inicio</a>
                </li><li class="nav-item">
                    <a class="nav-link" href="destinos.html">Destinos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="paquetes.html">Paquetes</a>
                  </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown link
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="sucursales.html">Sucursales</a></li>
                    <li><a class="dropdown-item" href="#">Convenios</a></li>
                    <li><a class="dropdown-item" href="contactenos.html">Contactenos</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex">
                <div class="text-light" id="usuario"></div>
              </form>
            </div>
          </div>
        </nav>
      </header>


      <main>

        <div class="container marketing">
    
      
            <div>
                <h1>Calcule sus millas</h1>
                <br><br><br><br>
                <div style="margin-left:70px; margin-right: 70px;">
                    <form class="row g-3" id="contactenos">
                        <div class="col-md-6">
                          <label for="Nombre1" class="form-label">Nombre</label>
                          <input type="text" class="form-control" id="inputnombre">
                        </div>
                        <div class="col-md-6">
                            <label for="Apellido2" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="inputapellido">
                          </div>
                        <div class="col-md-6">
                            <label for="Email" class="form-label">Correo</label>
                            <input type="email" class="form-control" id="inputemail">
                        </div>  
                        <div class="col-md-6">
                            <label for="Email" class="form-label">Telefono</label>
                            <input type="number" class="form-control" id="inputtel" >
                        </div>  
                        <div class="col-md-8">
                          <label for="inputAddress" class="form-label">Direccion</label>
                          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        
                        <div class="col-md-4">
                          <label for="inputCity" class="form-label">Cantidad de Vuelos Realizados</label>
                          <input type="number" class="form-control" id="inputCity">
                        </div>
                        
                        
                        <div class="col-12">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                              Acepta que podamos usar sus datos para marketing? (opcional)
                            </label>
                          </div>
                        </div>
                        <div class="col-6">
                          <button type="button" id="botonenviar" class="btn btn-outline-primary" onclick="saveTask()">Enviar Datos</button>
                        </div>
                        <div class="col-6">
                          <button type="button" id="botoneditar" class="btn btn-outline-info" onclick="editando()">Editar Datos</button>
                        </div>
                      </form>
                </div>
                <br><br><br>
                
                <br>
                
                <div class="table-responsive">
                  <table class="table table-bordered table-striped text-center mt-4" id="tasks">
                    <thead>
                      <tr class="text-white" style="background-color: #4723D9;">
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Direccion2</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Pais</th>
                        <th scope="col">Codigo Postal</th>
                        <th scope="col">Acciones</th>
                        
                      </tr>
                      </thead>
                      <tbody>
                        
                      </tbody>
                    </table>
                </div>

                


            <br>

            </div>
        
            
        
          </div><!-- /.container -->


      </main>

      <!-- Footer -->
<footer class="bg-dark text-center text-lg-start" style="margin-bottom: -50px; margin-top: -0px;">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase text-light">Mas informacion de la agencia</h5>
  
          <p class="text-light" style="text-align: justify; font-size: 20px">
            Esta agencia se dedica a la promocion 
            y venta de paquetes de sitios turisticos a diferentes destinos ubicados en colombia 
            y en el mundo, tenemos convenios con diferentes hoteles en los destinos que ofrecemos.
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light">Redes Sociales</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://www.facebook.com/" class="alink text-light"><i class='bx bxl-facebook' style='color:#ffffff'></i>  Facebook</a>
          </li>
          <li>
            <a href="https://twitter.com/?lang=es" class="alink text-light"><i class='bx bxl-twitter' style='color:#ffffff' ></i>  Twitter</a>
          </li>
          <li>
            <a href="https://www.instagram.com/" class="alink text-light"><i class='bx bxl-instagram' style='color:#ffffff' ></i>  Instagram</a>
          </li>
          <li>
            <a href="https://co.pinterest.com/" class="alink text-light"><i class='bx bxl-pinterest' style='color:#ffffff' ></i>  Pinterest</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light mb-0">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="alink text-light">Link 1</a>
          </li>
          <li>
            <a href="#!" class="alink text-light">Link 2</a>
          </li>
          <li>
            <a href="#!" class="alink text-light">Link 3</a>
          </li>
          <li>
            <a href="#!" class="alink text-light">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
  <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright: Todos los derecho reservados
    
  </div>
  <!-- Copyright -->
  </footer>
  <!-- Footer -->
  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css">
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
  <script src="../js/contactenos.js"></script>
  <script src="../js/main.js"></script>
</body>
</html>