<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../components/css/body.css">
    <!-- Custom styles for this template -->
    <link href="../css/carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/paquetes.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="index.html">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                </li><li class="nav-item">
                  <a class="nav-link" href="destinos.html">Destinos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="paquetes.html">Paquetes</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown link
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="sucursales.html">Sucursales</a></li>
                    <li><a class="dropdown-item" href="#">Convenios</a></li>
                    <li><a class="dropdown-item" href="contactenos.html">Contactenos</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
      </header>


      <main>

        <div class="container marketing">

            <br>
            <h1>Paquetes disponibles</h1>
            <br>
            <p class="parrafo">Nosotros como agencia de viajes poseemos distintos destinos nacionales y internacionales,
            alianza con diferentes hoteles y aerolineas para poder permitirte vivir una experiencia unica</p>
            <br>
            <h3>Tipos de Hoteles Nacionales</h3>    
            <br>
            <p class="parrafo">enemos una variedad de hoteles desde 4 a 5 estrellas, como principales recomendaciones 
            el Hotel San Francisco plaza en medellin o el Oz Hotel Luxury de Cartagena</p>
            <br>
            <h3>Tipos de Hoteles Internacionales</h3>
            <p class="parrafo">En el exterior tenemos hoteles de lujo de calidad maxima en las destinos ofertados,
            explicitamente para ofrecer el mejor servicio para nuestros clientes:</p>
           <ul>
                <li>Venecia: Baglioni Hotel Luna</li>
                <li>New York: MOXY NYC Times Square</li>
                <li>Curazao: Dreams Curacao</li>
                <li>La romana: Bahia Principe Luxury Bounganville</li>
                <li>Madrid: VP Plaza España Design</li>
                <li>Cuernavaca: Anticavilla Restaurant, Hotel &amp; Spa</li>
            </ul>
            <br>

            <div class="table-responsive">
                <h3>Destinos Internacionales</h3>
                <br>
                <table class="table table-primary">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Destino</th>
                        <th scope="col">Hotel</th>
                        <th scope="col">Precio Paquete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Madrid</td>
                        <td>VP Plaza España Design</td>
                        <td>3000$ Paquete completo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Venecia</td>
                        <td>Baglioni Hotel Luna</td>
                        <td>5000$ Paquete completo</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>New York</td>
                        <td>MOXY NYC Times Square</td>
                        <td>3500$ Paquete completo</td>
                      </tr>
                      <tr>
                          <th scope="row">4</th>
                          <td>Curazao</td>
                          <td>Dreams Curacao</td>
                          <td>5500$ Paquete completo</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>La Romana</td>
                        <td>Bahia Principe Luxury Bounganville</td>
                        <td>2500$ Paquete completo</td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>Cuernavaca</td>
                        <td>Anticavilla Restaurant, Hotel & Spa</td>
                        <td>4000$ Paquete completo</td>
                      </tr>
                    </tbody>
                  </table>
                  
                </div>
                <br>
            <div class="table-responsive">
                <h3>Destinos Nacionales</h3>
                <br>
                <table class="table table-danger">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Destino</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Cartagena</td>
                        <td>Oz Hotel Luxury</td>
                        <td>1500$ Paquete completo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Medellin</td>
                        <td>Hotel San Francisco plaza</td>
                        <td>1000$ Paquete completo</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Eje cafetero</td>
                        <td>Hotel Decameron Panaca</td>
                        <td>2000$ Paquete completo</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <br>
            <div class="text-center">
                <h1>La Romana, Republica Dominicana</h1>
                <br>
                <img src="../Img/3-245-oiaZFUsia-0SRL7C1596567572218.jpg" alt="" srcset="" style="max-width: 100%;">
                <br>
                <br>
                <h1>Eje Cafetero, Colombia</h1>
                <img src="../Img/maxresdefault.jpg" alt="" style="max-width: 100%;" width="750" height="400">
                <br>
                <br>
            </div>
            
        </div>

      </main>


      <!-- Footer -->
<footer class="bg-dark text-center text-lg-start" style="margin-bottom: -50px; margin-top: -0px;">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase text-light">Mas informacion de la agencia</h5>
  
          <p class="text-light" style="text-align: justify; font-size: 20px">
            Esta agencia se dedica a la promocion 
            y venta de paquetes de sitios turisticos a diferentes destinos ubicados en colombia 
            y en el mundo, tenemos convenios con diferentes hoteles en los destinos que ofrecemos.
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light">Redes Sociales</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://www.facebook.com/" class="alink text-light"><i class='bx bxl-facebook' style='color:#ffffff'></i>  Facebook</a>
          </li>
          <li>
            <a href="https://twitter.com/?lang=es" class="alink text-light"><i class='bx bxl-twitter' style='color:#ffffff' ></i>  Twitter</a>
          </li>
          <li>
            <a href="https://www.instagram.com/" class="alink text-light"><i class='bx bxl-instagram' style='color:#ffffff' ></i>  Instagram</a>
          </li>
          <li>
            <a href="https://co.pinterest.com/" class="alink text-light"><i class='bx bxl-pinterest' style='color:#ffffff' ></i>  Pinterest</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light mb-0">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="alink text-light">Link 1</a>
          </li>
          <li>
            <a href="#!" class="alink text-light">Link 2</a>
          </li>
          <li>
            <a href="#!" class="alink text-light">Link 3</a>
          </li>
          <li>
            <a href="#!" class="alink text-light">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!-- Grid container -->
  
   <!-- Copyright -->
  <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright: Todos los derecho reservados
    
  </div>
  <!-- Copyright -->
  </footer>
  <!-- Footer -->
  
  
      <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>