<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucursales</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../components/css/body.css">

    <!-- Custom styles for this template -->
    <link href="../css/carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/sucursales.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" >
          <div class="container-fluid">
            <a class="navbar-brand" href="index.html">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                </li><li class="nav-item">
                    <a class="nav-link" href="destinos.html">Destinos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="paquetes.html">Paquetes</a>
                  </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown link
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="sucursales.html">Sucursales</a></li>
                    <li><a class="dropdown-item" href="#">Convenios</a></li>
                    <li><a class="dropdown-item" href="contactenos.html">Contactenos</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
      </header>

      <main>

        <div class="container marketing">
            <br>
            <h1>Sucursales</h1>
            <br>
            <p class="parrafo">Somos una agencia de viajes bastante reconocida y con bastante trayectoria sobre nuestros hombros, nos hemos encargado
                de colocar sucursales en diferentes ciudades concurridas del mundo para ofrecer nuestros servicios de manera internacional,
                llegando a diferentes mercados para ofrecer un mejor servicio para usted 
            </p>

            <br>
            <p class="parrafo">Por el momento contamos con las siguientes sucursales: </p>
            <br>
            
        </div>

        <div class="container marketing table-responsive"">

            <table class="table " id="hola">
              <thead class="" style="background-color: #b153fd">
                  <tr class="text-light">
                    <th scope="col">#</th>
                    <th scope="col">Sucursal</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Horarios</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Barranquilla</td>
                    <td>calle 95 # 94-76</td>
                    <td>+57 3215549484</td>
                    <td>7am a 12pm y 2pm a 5pm</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Cartagena</td>
                    <td>Calle 45 # 34-74</td>
                    <td>+57 3149872479</td>
                    <td>7am a 12pm y 2pm a 5pm</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Sincelejo</td>
                    <td>Calle 23 # 45-78</td>
                    <td>+57 3486549827</td>
                    <td>8am a 12pm y 2pm a 6pm</td>
                  </tr>
                  <tr>
                      <th scope="row">4</th>
                      <td>Medellin</td>
                      <td>Calle 12 #34 comuna 13</td>
                      <td>+57 3189742873</td>
                      <td>7am a 12pm y 2pm a 5pm</td>
                  </tr>
                  <tr>
                      <th scope="row">5</th>
                      <td>Bogota</td>
                      <td>Carrera Septima # 45-80</td>
                      <td>+57 3984576821</td>
                      <td>6am a 12pm y 2pm a 5pm</td>
                  </tr>
                </tbody>
              </table>
              <br>
        </div>

       </main> 
    
       <!-- Footer -->
<footer class="bg-dark text-center text-lg-start" style="margin-bottom: -50px; margin-top: -0px;">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase text-light">Mas informacion de la agencia</h5>
  
          <p class="text-light" style="text-align: justify; font-size: 20px">
            Esta agencia se dedica a la promocion 
            y venta de paquetes de sitios turisticos a diferentes destinos ubicados en colombia 
            y en el mundo, tenemos convenios con diferentes hoteles en los destinos que ofrecemos.
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light">Redes Sociales</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://www.facebook.com/" class="alink text-light"><i class='bx bxl-facebook' style='color:#ffffff'></i>  Facebook</a>
          </li>
          <li>
            <a href="https://twitter.com/?lang=es" class="alink text-light"><i class='bx bxl-twitter' style='color:#ffffff' ></i>  Twitter</a>
          </li>
          <li>
            <a href="https://www.instagram.com/" class="alink text-light"><i class='bx bxl-instagram' style='color:#ffffff' ></i>  Instagram</a>
          </li>
          <li>
            <a href="https://co.pinterest.com/" class="alink text-light"><i class='bx bxl-pinterest' style='color:#ffffff' ></i>  Pinterest</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light mb-0">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="alink text-light">Link 1</a>
          </li>
          <li>
            <a href="#!" class="alink text-light">Link 2</a>
          </li>
          <li>
            <a href="#!" class="alink text-light">Link 3</a>
          </li>
          <li>
            <a href="#!" class="alink text-light">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
  <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright: Todos los derecho reservados
    
  </div>
  <!-- Copyright -->
  </footer>
  <!-- Footer -->

      <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css">
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>

    <script>
      $(document).ready(function() {
        $('#hola').DataTable({
            language: {
                url: '../json/idioma.json'
            },
            responsive: "true",
            dom: 'Bfrtilp',
            buttons:[
                {
                    extend: 'excelHtml5',
                    text: `<i class='bx bx-table'></i>`,
                    titleAttr: 'exportar a excel',
                    className: 'btn btn-outline-success'
                },
                {
                    extend: 'pdf',
                    text: `<i class='bx bxs-file-pdf'></i>`,
                    titleAttr: 'exportar a PDF',
                    className: 'btn btn-outline-danger'
                },
                {
                    extend: 'print',
                    text: `<i class='bx bxs-printer' ></i>`,
                    titleAttr: 'Imprimir',
                    className: 'btn btn-outline-info'
                }
    
            ]
        });
    } );
    </script>
</body>
</html>